@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
li {
  list-style: none !important;
}

.signika-font {
  font-family: "Signika", sans-serif !important;
}
.mainColor {
  background-color: #515d6a !important;
}
.mainColor-2 {
  background-color: #4a5562 !important;
}
.mainColor-3 {
  /* background-color: #efefef; */
  /* background-color: rgb(246, 238, 238) !important; */
  /* background-color: red !important; */
}
.social i {
  font-size: 2rem;
}
.team-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.team-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #556270;
}
.double-quote i {
  color: lightpink;
  font-size: 1.5rem;
}
.logo-icon i {
  color: #515d6a;
  font-size: 2rem;
}
