@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
* {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
li {
  list-style: none !important;
}

.signika-font {
  font-family: "Signika", sans-serif !important;
}
.mainColor {
  background-color: #515d6a !important;
}
.mainColor-2 {
  background-color: #4a5562 !important;
}
.mainColor-3 {
  /* background-color: #efefef; */
  background-image: linear-gradient(#efefef #fff);
}
.rosarivo {
  font-family: "Rosarivo", cursive;
}
/* General */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
}
a {
  text-decoration: none !important;
  /* color: #000 !important; */
  color: #000;
}
li {
  list-style: none !important;
}

.signika-font {
  font-family: "Signika", sans-serif !important;
}
.mainColor {
  background-color: #515d6a !important;
}
.mainColor-2 {
  background-color: #4a5562 !important;
}
/* Section */
section {
  padding: 30px 0 10px 0;
  overflow: hidden;
}
.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: inherit;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #e6636a;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  color: #556270;
}
/* End of section */

/* Breadcrumb */
.breadcrumbs {
  padding: 18px 0;
  background: #f8f9fa;
  min-height: 40px;
  margin-top: 80px;
}
.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6b7b8d;
  content: "/";
}
/* End of breadcrumb */

/* Pricing */
.pricing .pricing-box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #d9232d;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul .NA {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f9;
  text-align: center;
}
.pricing .btn-buy {
  background: #d9232d;
  display: inline-block;
  padding: 8px 35px 9px 35px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #d9232d;
  color: #fff;
}
.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid white;
}
.faq .faq-item i {
  color: red;
  font-size: 20px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}
.faq .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 28px;
  font-family: inherit;
}
.faq .faq-item p {
  font-size: 15px;
}
/* End of pricing */

/* Blog */
.cream-bg {
  background-color: #f5f5f5;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}
.card h3 {
  text-transform: uppercase;
  color: rgb(177, 177, 177);
  font-size: 0.8rem;
}
.card p {
  line-height: 1.4rem;
}
.read-more-text {
  display: none;
}
.read-more-text--show {
  display: inline;
}
/* End of Blog */

/* Contact */
.contact-info i {
  font-size: 35px;
}
.map iframe {
  border: 0;
}
.location,
.email,
.phone {
  margin-bottom: 50px;
}

.location > .location-info,
.email > .email-info,
.phone > .phone-info {
  margin-left: 15px;
}
textarea {
  padding: 10px 20px;
}
.contact-btn {
  background-color: #d9232d;
  color: #fff;
  width: 150px;
}
/* End of contact */
.carousel-caption {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#txt-carosel {
  position: relative;
  top: 25%;
  font-size: 5rem !important;
}
#txt-carosel + p {
  position: relative;
  top: 25%;
}
a:is(:link, :active, :visited).active {
  color: #fff !important;
  background-color: #dc3545 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #dc3545 !important;
  color: #fff !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #dc3545 !important;
  color: #fff !important;
}

.overview {
  color: #fff !important;
  background-color: rgba(75, 85, 99, 0.5) !important;
  max-height: 100% !important;
  transform: translateY(101%) !important;
  transition: transform 0.5s ease;
}

.portfolio-card img {
  transition: transform 0.5s ease-in-out;
}
.portfolio-card:hover img {
  transform: scale(1.5);
}
.portfolio-card:hover .overview {
  transform: translateY(0) !important;
}

@media (max-width: 992px) {
  #w-100-sm-md {
    width: 100% !important;
  }
  #card-service {
    position: static !important;
    border: none !important;
  }
}
@media (max-width: 430px) {
  #text-center-sm {
    text-align: center !important;
  }
  #icon-sm {
    margin: auto !important;
  }
  .menu button {
    margin: 20px 0 !important;
  }
  .portfolio-card {
    margin-bottom: 10px !important;
  }
  .overview p:nth-child(1) {
    font-size: 20px !important;
    margin: 0 !important;
  }
  .overview p:nth-child(2) {
    font-size: 14px !important;
  }
}
/* Snowflake */
.snowflake {
  color: #fff;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
